html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body > div{
  height: 100%;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.padding-left-right{
  padding-left: 0.3em; 
  padding-right: 0.3em;
}

.padding-right{
  /* padding-left: 0.3em;  */
  padding-right: 1em;
}

.padding-top-bottom {
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}